<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASCII Art Web | Not Found</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <h1 class="text-3xl p-2 font-semibold bg-blue-500 text-white">ASCII Art Project</h1>
    <div class="flex justify-center p-6">
        <h1>This page doesn't exist.</h1>
        <button class="bg-blue-500 p-2 font-semibold text-white rounded-md cursor-pointer">Go Home</button>
    </div>
</body>
</html>